html {
  font-size: 200px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 200px;
  line-height: 300;
  letter-spacing: 200px;
}

html {
  background-color: #9000ff;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: #ffbe0b;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff006e;
  text-shadow: 10px 9px 7px black;
}

img {
  display: block;
  margin: 0 auto;
}
